.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full height of the screen */
    padding: 20px;
  }
  
  .search-title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .search-placeholder {
    font-size: 1.2rem;
    color: #888;
    text-align: center;
    padding: 20px;
    border: 2px dashed #ccc; 
    background-color: #f9f9f9;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
  }

  .records-container {
    margin-left: -50px;
  }
  .heading-container {
    width: 408.393px;
    height: 70.618px;
  
  }
  
  .heading-title {
    color: var(--Color-Blue-Blue-500, #559DDC);
    font-family: Montserrat;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 76.045px; /* 168.989% */
    text-align: left; /* Align text to the left */
  }
  
  