.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  width: 800px;
  height: 600px;
  background: #C8E3F5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  position: relative;
  padding: 20px;
}

.close-button {
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.logo-and-user-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.opticare-logo {
  width: 300px;
  height: auto;
}

.login-message {
  text-align: center;
  margin-top: 10px;
}

.blue-text {
  color: #3871C1;
  font-size: 15px;
  font-family: 'Montserrat';
  font-weight: 700;
}

.green-text {
  color: #6FB118;
  font-size: 15px;
  font-family: 'Montserrat';
  font-weight: 700;
}

.blue-dark-text {
  color: #219DE9;
  font-size: 15px;
  font-family: 'Montserrat';
  font-weight: 700;
}

.user-type-picker {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.user-type-button {
  padding: 10px 20px;
  border: 1px solid #4461F2;
  border-radius: 7px;
  cursor: pointer;
}

.user-type-button.active {
  background-color: #90DD2B;
  color: white;
}

.input-section {
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

.input-wrapper {
  position: relative;
}

.input-field {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #667085;
  padding-left: 10px;
  font-size: 15px;
}

.clear-button,
.toggle-password-button {
  position: absolute;
  top: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #4F555A;
  font-size: large;
}

.clear-button {
  right: 10px;
}

.toggle-password-button {
  right: 10px;
}

.register-button-section {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  position: relative;
  cursor: pointer;
}

.register-button-background {
  width: 300px;
  height: 40px;
  background: linear-gradient(90deg, #4183CF 0%, #77B032 100%);
  box-shadow: 0px 11.85px 20.74px 3.95px rgba(68, 97, 242, 0.15);
  border-radius: 20px;
}

.register-button-text {
  position: absolute;
  color: white;
  font-size: 17px;
  font-family: 'Montserrat';
  font-weight: 700;
  letter-spacing: 1.53px;
  margin-top: 10px;
}
