.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space buttons equally */
    align-items: center;
    width: 320px;
    height: 90vh;
    padding: 20px 0; /* Add some padding for spacing around buttons */
    gap: 0; /* Remove extra gap between elements */
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--Color-LightBlue-LightBlue-400, #51ADE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 20px;
    left: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}
/* Remove underline from <Link> components in the navbar */
.navbar-link {
    text-decoration: none; /* Remove the underline */
  }
  
  /* Ensure the text inside buttons isn't affected by other text styles */
  .navbar button {
    text-decoration: none; /* Make sure text inside buttons is not underlined */
  }

.icon {
    width: 30px;
    height: 30px;
    background-color: transparent; 
    object-fit: contain; 
    color: white;
    
}

.navbar-logo {
    width : 282px;
    height: 175px;
    flex-shrink: 0;
    position: relative; 
    top: 0; 
    margin-bottom: -100px;
}

.main-container {
    display: flex;
    height: 100vh; 
}

.content {
    margin-left: 50px; 
    flex-grow: 1; 
    padding: 20px; 
    overflow-y: auto; 
    margin-top: -45px;
}

.navbar button {
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 30px;
    width: 100%;
    height: auto; 
    height: 40px;
}

.navbar button:hover {
    background-color: #E6E6E6; 
    width: 260px;
    height: 40px;
    font-family: Montserrat;
    border-radius: 5px;
    background: var(--Color-Blue-Blue-200, #C8E3F5);   
}

.navbar button:hover .icon {
    color: #4183CF;
}

.navbar button:hover .button-text {
    color: #4183CF;
}

.icon {
    width: 22px;
    height: 25px;
    color: white; /* Default icon color */
    transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.button-text {
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 600;
    color: var(--Color-Blue-Blue-50, #F1F8FD); 
    line-height: 150%;
    white-space: nowrap; 
    text-align: left; 
    transition: color 0.3s ease; 
    width: 91px;
    height: 25px;
    flex-shrink: 0;
}
