.text{
    width: 548px;
height: 71px;
flex-shrink: 0;
color: #0D54AC;
font-family: Montserrat;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 76.045px; /* 253.483% */
}
.textbox {
    width: 395.039px;
    height: 59.256px;
    flex-shrink: 0;
    border-radius: 9.876px;
    background: #DAEBFF;
    color: #4F555A;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 76.045px; 
    letter-spacing: 1.35px;
    padding: 0 10px; 
}

.profileName {
    width: 164px;
height: 71px;
flex-shrink: 0;
color: #0D54AC;
font-family: Montserrat;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 76.045px; /* 253.483% */
}

.profileLabel{
    width: 164px;
    height: 71px;
    flex-shrink: 0;
    color: #4F555A;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 76.045px; /* 380.225% */
}

.saveButton {
    width: 110.611px;
    height: 41.479px;
    flex-shrink: 0;
    border-radius: 14.506px;
    background: linear-gradient(96deg, #3A8EF6 -10.84%, #6F3AFA 196.74%);
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
